@page "/"

<PageTitle>Chris Filzen - Home</PageTitle>

<HxCard FooterCssClass="text-muted">
    <HeaderTemplate><div class="fw-bold">Bio</div></HeaderTemplate>
    <BodyTemplate>
        <HxCardText>
            <div class="container-lg">
                <div class="row">
                    <div class="col">
                        <HxCardTitle>Personal</HxCardTitle>
                        <HxCardText>
                            I was born in Minnesota in 1973. I am an only child. I moved to Charolette, NC with my mom when I was
                            4 years old. We lived in Charlotte for a few years before moving to Atlanta, GA. where I lived for the next
                            40 years. I then moved to Florida with my wife, where we spent 3 years. We moved back to Georgia February
                            of 2024. We live on 6 acres in a brick ranch. As you know, I am married. My wife and I have 5 kids
                            and 2 grandbabies. We also have two dogs. When I am not behind a computer, I love being outdoors. I am an
                            avid hunter and fisherman. I ride motorcycles. My wife and I love taking a ride on weekends. It is an excellent
                            way to clear our heads. We enjoy going camping. I enjoy spending time doing projects around my house and
                            property. I constantly challenge myself to learn new things. My passion is coding. But I also enjoy working
                            with my hands. I enjoy woodworking and doing landsaping. I enjoy reading a good book, when I have time.
                            James Patterson is probably my author of choice. I enjoy gaming. My game of choice is Call of Duty. As you
                            may have noticed; I love to stay busy. I constantly challenge myself to see what I am capable of. And
                            through doing this; I have had plenty of opportunities in life. Some have been successes, other failures.
                            But the challenges alone keep me eager tp grow. I am not a big talker. I think a lot. And finally, you might
                            even find me out on the golf course speaking of challenges. And finally I am a diehard Georgia Bulldog fan.
                        </HxCardText>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <HxCardTitle>Professional</HxCardTitle>
                        <HxCardText>
                            I have been a software engineer for over 25 years. I specialize in backend services. But I also have experience
                            with frontend development as well. I have programmed using C# throughout the majority of my career. I love a good
                            challenge, which proves to be a part of the daily life of a being a developer. I enjoy working with others. I feel
                            others help me grow as a developer. You never know when you are working with a team member and see there is a better
                            way to do something through their eyes. A big reason I enjoy development is the fact that it keeps me busy. A developer
                            is constantly tasked with learning, innovating and fixing, while also focusing on privacy and safety. It never gets old.
                            Every day is something new. Granite some projects can take time and seem repetitious and you are ready for something new;
                            it is time for that next project. But the most gratifying part of being a developer is seeing what you helped build.
                        </HxCardText>
                    </div>
                </div>
            </div>
        </HxCardText>
    </BodyTemplate>
    <FooterTemplate>Live with intention; strive for growth</FooterTemplate>
</HxCard>
