<div class="row card left-nav-main">
    <div class="col px-0">
        <div class="mt-2 mb-1 left-nav-header"><strong>Networking</strong></div>
        <HxNavLink Href="https://www.linkedin.com/in/chrisfilzen" Text="LinkedIn" />
        <HxNavLink Href="https://chris-filzen.blogspot.com/" Text="My Blog" />
        <div class="mt-2 mb-1 left-nav-header"><strong>Good Resources</strong></div>
        <HxNavLink Href="https://docs.microsoft.com/en-us/learn/" Text="Microsoft Learning" />
    </div>
</div>