@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row">
            <div class="col">
            <NavMenu />
            </div>
        </div>
        <div class="container-fluid main-container">
        <div class="row">
            <div class="col-2 mt-4 text-center"><BodyLeftLayout /></div>
            <div class="col mt-2">
                <article class="content px-4">
                    @Body
                </article>
            </div>
            <div class="col-2 mt-4 text-center"><BodyRightContent /></div>
        </div>
        </div>
    </main>
</div>